<div class="container" [style.font-size.px]="fontSize">
  <div class="rowsNums">
    <span *ngFor="let r of state.rows; let i = index">
      {{ i + 1 }}
    </span>
  </div>
  <div class="text-container" (click)="state.click($event)">
    <div class="row" *ngFor="let row of state.rows; let i = index" [attr.ind]="i">
      <ng-container *ngFor="let symbol of row">
        <span [class]="[getClass(symbol.type), 'symbol']">{{ symbol.text }}</span>
      </ng-container>
    </div>
    <div
      class="cursor"
      [ngStyle]="{
        'left.px': state.cursor.coord.x,
        'top.px': state.cursor.coord.y,
        visibility: state.cursor.visibility ? 'inherit' : 'hidden'
      }"
    ></div>
  </div>
</div>
