<div class="container" [style.font-size.px]="fontSize" (paste)="paste($event)">
  <div class="rowsNums">
    <span *ngFor="let r of state.rows; let i = index" [ngStyle]="{ 'height.px': rowHeight }">
      {{ i + 1 }}
    </span>
  </div>
  <div class="text-container" (click)="state.click($event)">
    <div
      class="row"
      *ngFor="let row of state.rows; let i = index"
      [attr.ind]="i"
      [ngStyle]="{ 'height.px': rowHeight }"
    >
      <ng-container *ngFor="let symbol of row">
        <span [class]="[getClass(symbol.type), 'symbol']">{{ symbol.text }}</span>
      </ng-container>
    </div>
    <div
      class="cursor"
      [ngStyle]="{
        'left.px': state.cursor.coord.x,
        'top.px': state.cursor.coord.y,
        visibility: state.cursor.visibility ? 'inherit' : 'hidden'
      }"
    ></div>
  </div>
</div>
<div>{{ state.curSymbol.text }} {{ state.curSymbol.start }}</div>
<div>Ln {{ state.cursor.row }} Col {{ state.cursor.col }}</div>
