<div class="container" [style.font-size.px]="fontSize">
  <div class="rowsNums">
    <span *ngFor="let r of rows; let i = index">
      {{ i + 1 }}
    </span>
  </div>
  <div
    class="text-container"
    (click)="textContainerClick($event)"
    (keydown)="textInput($event)"
    (blur)="blur()"
  >
    <div class="row" *ngFor="let row of rows; let i = index" [attr.ind]="i">
      <span *ngFor="let symbol of row">
        <span [class]="[getClass(symbol.type), 'element']">{{ symbol.text }}</span>
      </span>
    </div>
    <div
      class="cursor"
      [ngStyle]="{
        'left.px': cursor.coord[0],
        'top.px': cursor.coord[1],
        visibility: cursor.visibility ? 'inherit' : 'hidden'
      }"
    ></div>
  </div>
</div>
